.nameImage{
    padding-top: 40px;
    padding-left: 20px;
    width: 90px;
}

.text{
    padding-top: 60px;
    padding-left: 20px;
}

.userImage{
    padding-top: 100px;
    padding-left: 40px;
    width: 80%;
}